<ul id="sunInfo">
    <li>Current time: {{ currentHM }}</li>
    <li>Sunrise: {{ sunInfo.sunrise }}</li>
    <li>Sunset: {{ sunInfo.sunset }}</li>
    <li>Day length: {{ sunInfo.day_length }}</li>
    <li>Solar noon: {{ sunInfo.solar_noon }}</li>
    <li>Astronomical twilight begin: {{ sunInfo.astronomical_twilight_begin }}</li>
    <li>Astronomical twilight end: {{ sunInfo.astronomical_twilight_end }}</li>
    <li>Civil twilight begin: {{ sunInfo.civil_twilight_begin }}</li>
    <li>Civil twilight end: {{ sunInfo.civil_twilight_end }}</li>
    <li>Nautical twilight begin: {{ sunInfo.nautical_twilight_begin }}</li>
    <li>Nautical twilight end: {{ sunInfo.nautical_twilight_end }}</li>
</ul>
